extends layout.pug

block content
  h2= room.title

  p.help Fill in this form to request access to #{room.title} on Cisco Spark

  form(method='POST')
    p
      input(name='email' type='email' placeholder='Email')

    p
      input(name='name' placeholder='Name')

    p
      input(name='title' placeholder='Title')

    p
      input(name='city' placeholder='city')

    p
      button Sign Me Up
