extends layout.pug

block content
  h2
    img.chat-bubble(src='/static/images/chat-bubble.png')
    span= room.title

  .row.column
    p Fill in this form to request access to #{room.title} on Cisco Spark

  form(method='POST')
    .row
      .small-3.medium-2.columns
        label.text-right.middle(for='email') E-mail
      .small-9.columns.end
        input#email(name='email' type='email')


    .row
      .small-3.medium-2.columns
        label.text-right.middle(for='name') Name
      .small-9.columns.end
        input#name(name='name' type='text')


    .row
      .small-3.medium-2.columns
        label.text-right.middle(for='title') Title
      .small-9.columns.end
        input#title(name='title' type='text')

    .row
      .small-3.medium-2.columns
        label.text-right.middle(for='city') City
      .small-9.columns.end
        input#city(name='city' type='text')

    .row.column
      button.large.button Sign Me Up
