html
  head
    title Doorman
    link(href='/static/stylesheets/index.css' type='text/css' rel='stylesheet')

    script(type='text/javascript' src='/static/javascripts/jquery.js')
    script(type='text/javascript' src='/static/javascripts/foundation.js')
    script(type='text/javascript' src='/static/javascripts/motion-ui.js')
    script(type='text/javascript' src='/static/javascripts/what-input.js')
    script(type='text/javascript' src='/static/javascripts/index.js')
  body
    h1 Doorman
    block content
